/* Common styling for the postmarketOS skin */

@import "variables.less";

// Page layout

body {
	background: @bodybg;
	font-family: sans-serif;
	font-size: 11pt;
}

#mw-wrapper {
	max-width: @width;
	margin: 0 auto;
	position: relative;
	background: @contentbg;
	color: @contentfg;
	padding: 15px;
}

#p-logo {
	flex-grow: 1;
	text-align: center;
	float: left;
	display: flex;
	min-height: 90px;
	padding: 10px 0 0;
	flex-shrink: 0;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);


	// Make logo image visible
	// The class sets the background image from $wgLogo, but we still need to give it a size in order to show up
	a.mw-wiki-logo {
		display: block;
		content: '';
		width: 75px;
		height: 75px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 75px;
		margin-left: 20px;
	}
}

h1, h2, h3 {
	text-transform: uppercase;
	font-weight: bold;
	border: none;
}

// Header

#mw-header {
	background-image: url('https://postmarketos.org/static/img/nexus5-bg.jpg');
	background-position: center;
	background-size: cover;
	font-family: sans-serif;
	font-size: 12pt;
	line-height: 2;
	padding: 10px;
	max-width: @width;
	margin: -15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#header-links {
	display: flex;
	flex-direction: column; flex-wrap: wrap;
	align-content: flex-end;
	margin-left: 10px;
	width: 50%;
	margin-top: 10px;
}

.mw-wiki-title {
	color: #fff !important;
	text-decoration: none !important;
	font-size: 25pt;
	margin-left: 10px;
}

.mw-body {
	position: relative;
	word-wrap: break-word;
}

#p-navigation a {
	text-decoration: underline;
	background: white;
	color: @contentfg !important;
	padding: 5px 4px;
	font-size: 10pt;
}

#p-search {
	margin-right: 15px;
	margin-bottom: 1em;
	align-self: flex-end;
}

#p-search input {
	background: white;
	color: @contentfg !important;
	padding: 5px 4px;
	border: none;
}

#searchGoButton { background: #aaa !important; }

// Navigation
#p-views, #p-actions { float: right; }

#p-personal {
	text-align: right;
	margin-top: 2em !important;
}

#p-namespaces, #p-views, #p-actions {
	border-top: #eee 2px solid;
	border-left: #eee 2px solid;
	border-right: #eee 2px solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-left: 10px;
}

#p-namespaces { margin-left: 0px; }

#mw-navigation a {
	color: @contentfg !important;
	width: 100%;
	height: 1.5em;
	padding: 0.5em 1em 0.5em 1em;
}

#mw-navigation li {
	border-left: #eee 2px solid;
	height: auto; 
	padding: 0.5em 0 0.5em 0;
	text-align: center;	
	margin-right: -1em;
}

#mw-navigation ul li:nth-child(1) { border-left: none; }

.selected a { background-color: #eee; }

// Some content stuff
table.cargoTable { display: block; overflow-x: auto; }

.firstHeading {
	margin-top: 0;
}

.mw-indicators {
	float: right;
	margin: 1.5em 0 0 1em;
}

pre {
	overflow: auto;
	white-space: pre-wrap;
}

.center,
.center * {
	margin: auto;
	text-align: center;
}

// Splatter the menus and tools at the bottom
#footer,
#page-tools,
#p-personal {
	margin: 1em 0 0;

	ul {
		list-style-type: none;
		margin: 0;
	}

	li {
		padding-right: 1em;
		display: inline-block;
	}
}

#page-tools .mw-portlet {
	display: inline-block;
}

// Footer
#footer {
	clear: both;
	border-top: 1px solid @border;

	ul {
		margin-top: 1em;
	}
}

#footer-icons {
	float: right;
	margin: 0 0 1em 1em;
}

// hidden stuff
#page-tools h3,
#p-search h3,
#p-personal h3,
#p-navigation h3,
#p-tb h3 {
	.hidden;
}
