// Uncomment to use MediaWiki-supplied mixins
// @import "mediawiki.mixins";

@width: 1024px;
@border: #ccc;
@bodybg: #f5f5f5;
@contentbg: white;
@contentfg: #000;

// Dark mode
//@bodybg: #232729;
//@contentbg: #2c3133;
//@contentfg: #ccc;

// To hide objects, but keep them accessible for screen-readers
.hidden() {
	position: absolute;
	top: -9999px;
}
